 <span class="spantaskpost">Todos user{{uData.ID}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="margin-bottom: 5px;" (click)="toaddtask()" [style.visibility]="whichdiv?'visible':'hidden'">Add</button> <br> 
 <div class="taskspostsdiv">  
     <div class="innertask"  *ngFor="let task of uData.Tasks" [style.display]="whichdiv?'block':'none'">
      <b>Title:</b> &nbsp;{{task.Title}} <br> 
      <b>Completed :</b> &nbsp; {{task.Completed}} &nbsp;
       <button  [style.display]="task.Completed?'none':'hidden'" style="width:70px; height: 22px;" (click)="marktask(task)" >Mark</button>
   </div>   
   <div [style.display]="whichdiv?'none':'block'" > 
      <app-addtask (notify)="torefresh2($event)" [createtask]="uData"></app-addtask>
   </div>
 </div> <br>   
 <span class="spantaskpost">Posts user{{uData.ID}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="margin-bottom: 5px;" (click)="toaddpost()" [style.visibility]="whichdiv2?'visible':'hidden'">Add</button> <br> 
 <div class="taskspostsdiv" > 
    <div class="innertask" *ngFor="let post of uData.Posts" [style.display]="whichdiv2?'block':'none'">
      <b>Title:</b> &nbsp; {{post.Title}} <br> 
      <b>Body:</b> &nbsp; {{post.Body}}
      </div>  

      <div [style.display]="whichdiv2?'none':'block'">
        <app-addpost (notify2)="torefresh($event)" [createpost]="uData"></app-addpost>
      </div>
 </div> <br>  




