
 

<br> <br> 
 <input type="text" class="searchinput" #searchi (keyup)="search(searchi.value)"> &nbsp;&nbsp;
 <button  (click)="toadduser=!toadduser">Add</button> <br> <br>
<div class="divofusers">  
  <div class="adduserdiv" *ngIf="toadduser">  
    <form #f="ngForm" ngSubmit="adduser(f.valid)">
    Name: &nbsp; <input type="text"  name="name" required [(ngModel)]="namefield"> <br> <br> 
    Email : &nbsp; <input type="text"  name="email"  required [(ngModel)]="emailfield" > <br> <br> <br>
    <button (click)="clear()">Cancel</button>&nbsp; <input [disabled]="!f.valid" class="submitadd" type="submit" value="Add" (click)="adduser()" >
  </form>
     </div><br> <br> 
  <app-users  (notify)="delete($event)"  [userData]="user"  *ngFor="let user of usersData"  ></app-users>  
  
</div> 
