  <div style="display: flex;flex-grow: grow; padding-left: 20px; ">
  <div class="userdiv" [style.background]="taskposti?'orange':'honeydew'"  [style.border]="isCompleted? '5px solid green' : '5px solid red'">  
     <form #f="ngForm" ngSubmit="updateuser(f.valid)">
     <span  (click)="tosession()"  (click)="taskposti=!taskposti"  style="margin-left: -180px;">ID:{{userData.ID}}</span>  <br> <br> 
    Name : <input type="text" name="Name" required #name [(ngModel)]="userData.Name" >  <br> <br>
    Email :  <input type="text" name="Email" required #Email [(ngModel)]="userData.Email" >  <br> <br>
    <span  
    class="myspani"
    (mouseover)="openclose=true"  
    (click)="openclose=false" 
     >Other Data</span>  <br><br>
     <div class="otherdata" *ngIf="openclose" >
         Street &nbsp; <input type="text" name="Street" #street [(ngModel)]="userData.Street" >  <br> <br>
         City  &nbsp;&nbsp;&nbsp;<input type="text" name="City" #city [(ngModel)]="userData.City" >  <br> <br> 
         Zipcode<input type="text" name="Zipcode" #zipcode [(ngModel)]="userData.Zipcode" > <br> <br>
    </div> 
    <div >
     <input style="margin-bottom: 10px; margin-top: 10px\;" class="submitupdate" type="submit" [disabled]="!f.valid" (click)="updateuser()" value="Update">&nbsp;<button (click)="delete()"  style="margin-top: 10px; margin-bottom: 10px; ">Delete</button> <br> 
    </div>

    </form> 
</div> &nbsp;&nbsp;
<div [style.visibility]="taskposti?'visible':'hidden'" class="sidediv" style="border:solid 0px red;" *ngIf="taskposti"> 
   <!--router-outlet></router-outlet-->
   <app-taskpost (notify3)="refresh($event)" (notify5)="refresh($event)"></app-taskpost>
</div>
</div>  <br> <br> 

